<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdobeSetupType</key>
	<string>ProductInstall</string>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>james.kelley</string>
		<key>creation_date</key>
		<date>2014-08-15T18:49:25Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.3</string>
	</dict>
	<key>adobe_install_info</key>
	<dict>
		<key>media_signature</key>
		<string>{8EFF28F0-9DFD-4208-9E04-4D49A4812CF3}</string>
		<key>payload_count</key>
		<integer>126</integer>
		<key>uninstallxml</key>
		<string>&lt;Deployment&gt;
                        &lt;Properties&gt;
                            &lt;Property name="edtWorkflow"&gt;1&lt;/Property&gt;
                            &lt;Property name="mediaSignature"&gt;{E2248BB3-E10D-11E3-B62C-A39FB6E7404F}&lt;/Property&gt;
                            &lt;Property name="uninstall"&gt;1&lt;/Property&gt;
                        &lt;/Properties&gt;
                        &lt;Payloads&gt;
                            &lt;!-- Adobe Flash Professional CC 2014 --&gt;
                            &lt;Payload adobeCode="{E2248BB3-E10D-11E3-B62C-A39FB6E7404F}"&gt;
                                &lt;Action&gt;remove&lt;/Action&gt;
                            &lt;/Payload&gt;
                        &lt;/Payloads&gt;
                    &lt;/Deployment&gt;</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>beta</string>
		<string>testing</string>
		<string>production</string>
	</array>
	<key>category</key>
		<string>Digital Media and Design</string>
	<key>description</key>
	<string>Adobe Creative Cloud is a service from Adobe Systems that gives users access to a collection of software for graphic design, video editing, web development, photography, and Cloud services.</string>
	<key>display_name</key>
	<string>Adobe Creative Cloud</string>
	<key>installed_size</key>
	<integer>8401344</integer>
	<key>installer_item_hash</key>
	<string>65c3474e3a4c147e8c3c86dc23b9010a5c754ed4121e2b1d9f2bb4d845e090ae</string>
	<key>installer_item_location</key>
	<string>apps/Adobe/CreativeCloud/Brehm_Inc_EEA_Creative_Cloud_Installer_v2_Install-8.0.0.dmg</string>
	<key>installer_item_size</key>
	<integer>11823854</integer>
	<key>installer_type</key>
	<string>AdobeCS5AAMEEPackage</string>
	<key>installs</key>
	<array>
		<dict>
			<key>path</key>
			<string>/Library/Application Support/Adobe/Uninstall/{8EFF28F0-9DFD-4208-9E04-4D49A4812CF3}.db</string>
			<key>type</key>
			<string>file</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>Adobe Creative Cloud</string>
	<key>payloads</key>
	<array>
		<dict>
			<key>AdobeCode</key>
			<string>{83A27043-6FC9-4208-92C6-288B20731DB7}</string>
			<key>display_name</key>
			<string>Adobe Bridge CC</string>
			<key>installed_size</key>
			<integer>1201105</integer>
			<key>version</key>
			<string>6.1</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{E9C77AF1-5C15-4C59-BA6F-88CB319EE9C8}</string>
			<key>display_name</key>
			<string>Adobe CSXS Infrastructure CS6</string>
			<key>installed_size</key>
			<integer>116</integer>
			<key>version</key>
			<string>3.0.2</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{9B20ADB9-F8D1-4895-B09B-C21B404F5B95}</string>
			<key>display_name</key>
			<string>Adobe Dynamic Link Media Server</string>
			<key>installed_size</key>
			<integer>34152</integer>
			<key>version</key>
			<string>7.0.1</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{0A875850-DD4C-45C4-ADDB-21E28EB50D77}</string>
			<key>display_name</key>
			<string>Adobe Extension Manager CC</string>
			<key>installed_size</key>
			<integer>47156</integer>
			<key>version</key>
			<string>7.2.1</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{BF667E23-0186-41F1-ACAE-5786D4B34F56}</string>
			<key>display_name</key>
			<string>Adobe Extension Manager CS6</string>
			<key>installed_size</key>
			<integer>21115</integer>
			<key>version</key>
			<string>6.0.8</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{A35DC052-B8CC-11E2-9E88-8D16C34F96EF}</string>
			<key>display_name</key>
			<string>Adobe Fireworks CS6</string>
			<key>installed_size</key>
			<integer>478212</integer>
			<key>version</key>
			<string>12.0.1</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{D640D84A-8002-4C4D-AA98-0639DC3556A9}</string>
			<key>display_name</key>
			<string>Photoshop Camera Raw 8</string>
			<key>installed_size</key>
			<integer>128336</integer>
			<key>version</key>
			<string>8.5</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{08F2E584-AFE2-47EA-9891-94768CFDA234}</string>
			<key>display_name</key>
			<string>Camera Profiles Installer</string>
			<key>installed_size</key>
			<integer>96191</integer>
			<key>version</key>
			<string>8.5</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{2B22C750-5C3B-4738-B621-BA786AC7A494}</string>
			<key>display_name</key>
			<string>Adobe After Effects CC 2014</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>13.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{DD7493DD-0D12-4F6D-8919-5AD25156D00E}</string>
			<key>display_name</key>
			<string>Adobe After Effects CC 2014 LangPack (en_US) </string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>13.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{A55FF34C-8AA8-4BE2-ABCC-12BE48AE8DD5}</string>
			<key>display_name</key>
			<string>Adobe After Effects CC 2014 Support</string>
			<key>installed_size</key>
			<integer>10</integer>
			<key>version</key>
			<string>13.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{B11629D3-E9EE-467B-B9C6-30D37E2A39CF}</string>
			<key>display_name</key>
			<string>Adobe After Effects CC 2014 Presets</string>
			<key>installed_size</key>
			<integer>92097</integer>
			<key>version</key>
			<string>13.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{6E6ECFC9-FE3D-4314-B937-7E25A7862899}</string>
			<key>display_name</key>
			<string>Adobe Player for Embedding 3.4</string>
			<key>installed_size</key>
			<integer>64008</integer>
			<key>version</key>
			<string>3.4</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{3E7FC757-D497-4C89-A935-7D38E2164E85}</string>
			<key>display_name</key>
			<string>Photoshop Camera Raw 8</string>
			<key>installed_size</key>
			<integer>46949</integer>
			<key>version</key>
			<string>8.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{56DCC6F4-322E-42DA-A5DA-26BAD28C1E10}</string>
			<key>display_name</key>
			<string>Camera Profiles Installer</string>
			<key>installed_size</key>
			<integer>346649</integer>
			<key>version</key>
			<string>8.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{C7B1C1B3-368D-4C32-A818-83F1554EB398}</string>
			<key>display_name</key>
			<string>AdobeColorCommonSetRGB</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>4.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{0FBCC7E1-F5E8-476A-BAE2-E25A2AEF75F2}</string>
			<key>display_name</key>
			<string>Adobe Fonts Recommended</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>3.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{9A49EAB8-6664-4164-9323-49CA9E9C5E0C}</string>
			<key>display_name</key>
			<string>Adobe Fonts Required</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>3.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{6F66AFC1-224F-41F4-9BA1-2C00AAEC22C5}</string>
			<key>display_name</key>
			<string>Adobe MotionPicture Color Files CC</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{02EFB598-92AB-4DCB-A417-FE0FCBCD2266}</string>
			<key>display_name</key>
			<string>Adobe Color Video Profiles AE CS6</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>4.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{41A12FFC-89E9-4743-A51E-00975CA31F40}</string>
			<key>display_name</key>
			<string>Adobe Exchange Panel</string>
			<key>installed_size</key>
			<integer>45935</integer>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{6E6ECFC9-FE3D-4314-B937-7E25A7862899}</string>
			<key>display_name</key>
			<string>Adobe Player for Embedding 3.4</string>
			<key>installed_size</key>
			<integer>64008</integer>
			<key>version</key>
			<string>3.4</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{C4196275-B11A-40A1-8727-3C145C8F7D95}</string>
			<key>display_name</key>
			<string>AdobeColorCommonSetCMYK</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{C8DEBB29-3EB0-4B97-B652-4DE482B111BC}</string>
			<key>display_name</key>
			<string>AdobeColorCommonSetRGB</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{F6DED2DA-1D20-497E-8810-E745B45DCD28}</string>
			<key>display_name</key>
			<string>Adobe Color EU Extra Settings CC</string>
			<key>installed_size</key>
			<integer>1976</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{A032EB9D-B6EB-45BF-9F15-83B0755DC9AB}</string>
			<key>display_name</key>
			<string>Adobe Color JA Extra Settings CC</string>
			<key>installed_size</key>
			<integer>2799</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{AB955DCF-69CD-4840-B7FB-F318CDD0AE44}</string>
			<key>display_name</key>
			<string>Adobe Color NA Recommended Settings CC</string>
			<key>installed_size</key>
			<integer>2333</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{A145C964-D44A-11E3-A7A2-631CDFB1035A}</string>
			<key>display_name</key>
			<string>Adobe InCopy CC 2014</string>
			<key>installed_size</key>
			<integer>508814</integer>
			<key>version</key>
			<string>10.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{2F7A1DD0-D1FC-11E3-892E-41CCDFB1035A}</string>
			<key>display_name</key>
			<string>Adobe IC CC2014 AppBase2</string>
			<key>installed_size</key>
			<integer>294818</integer>
			<key>version</key>
			<string>10.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{26F2CDF6-D1FC-11E3-9279-A3CBDFB1035A}</string>
			<key>display_name</key>
			<string>Adobe IC CC2014 AppFSet (Roman)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>10.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{502788B6-D1FB-11E3-9C67-DAC2DFB1035A}</string>
			<key>display_name</key>
			<string>Adobe IC CC2014 AppLang (en_US)</string>
			<key>installed_size</key>
			<integer>337</integer>
			<key>version</key>
			<string>10.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{4D7611D0-D202-11E3-9E02-06C5DFB1035A}</string>
			<key>display_name</key>
			<string>Adobe IC CC2014 CBase</string>
			<key>installed_size</key>
			<integer>31</integer>
			<key>version</key>
			<string>10.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{E0F9520C-D1FB-11E3-B37F-AACADFB1035A}</string>
			<key>display_name</key>
			<string>Adobe IC CC2014 CLang (en_US)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>10.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{663DEEEF-EF34-4DCB-8687-73A7AA146E02}</string>
			<key>display_name</key>
			<string>Adobe Media Encoder CC 2014</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>8.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{D7E3240C-5D8B-4DCE-A5BA-D020514C232F}</string>
			<key>display_name</key>
			<string>Adobe Acrobat XI Pro</string>
			<key>installed_size</key>
			<integer>1353736</integer>
			<key>version</key>
			<string>11.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{BD1F3424-B47B-45DD-B000-3571A67B63F6}</string>
			<key>display_name</key>
			<string>Suite Shared Configuration CS7</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>4.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{F3388E10-EFA9-4A80-B28E-2E647F8D00C4}</string>
			<key>display_name</key>
			<string>Adobe Audition CC 2014</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>7.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{0182A938-A316-4B36-9341-32F9900A878B}</string>
			<key>display_name</key>
			<string>Adobe Audition CC 2014 LangPack (en_US) </string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>7.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{F5ED8725-610C-4837-8102-98A3870B538F}</string>
			<key>display_name</key>
			<string>Adobe Dynamic Link Media Server</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>7.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{B18C59EF-4209-4EEE-B202-B8C611480643}</string>
			<key>display_name</key>
			<string>Adobe Dynamiclink Support</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>7</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{6E6ECFC9-FE3D-4314-B937-7E25A7862899}</string>
			<key>display_name</key>
			<string>Adobe Player for Embedding 3.4</string>
			<key>installed_size</key>
			<integer>64008</integer>
			<key>version</key>
			<string>3.4</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{04742550-CC4C-11E3-9982-B6AC665E800C}</string>
			<key>display_name</key>
			<string>Adobe Dreamweaver CC 2014</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>14.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{0F19861C-CC4C-11E3-9982-E9944CE15210}</string>
			<key>display_name</key>
			<string>Adobe Dreamweaver CC 2014 LangPack (en_US)</string>
			<key>installed_size</key>
			<integer>3730</integer>
			<key>version</key>
			<string>14.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{03EAC688-A95A-474C-A179-E7A2DA2212EB}</string>
			<key>display_name</key>
			<string>Adobe Edge Animate CC 2014</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>4</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{E8B1DAAA-0B6B-44E6-A2D3-8E418EA0EA85}</string>
			<key>display_name</key>
			<string>Adobe CMaps CS6</string>
			<key>installed_size</key>
			<integer>6372</integer>
			<key>version</key>
			<string>4.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{01E04E1B-2A64-470B-B08F-242909000A31}</string>
			<key>display_name</key>
			<string>Adobe Flash Builder 4.7</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>4.7</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{610AABC3-96C8-4285-BAFE-9229AE2240AE}</string>
			<key>display_name</key>
			<string>Adobe Flash Builder</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>4.7</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{0B0F7088-0372-412B-A761-B9D2E2FF4927}</string>
			<key>display_name</key>
			<string>Suite Shared Configuration CS7</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>4.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{A0F72081-99FB-4FFA-AE1A-62B5A656CAC1}</string>
			<key>display_name</key>
			<string>Adobe Type Support CS6</string>
			<key>installed_size</key>
			<integer>5856</integer>
			<key>version</key>
			<string>11.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{A5ABCE72-09C9-480D-A225-71C2E492D80E}</string>
			<key>display_name</key>
			<string>AIR for Apple iOS support (FB)</string>
			<key>installed_size</key>
			<integer>2902</integer>
			<key>version</key>
			<string>3.1</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{3E7FC757-D497-4C89-A935-7D38E2164E85}</string>
			<key>display_name</key>
			<string>Photoshop Camera Raw 8</string>
			<key>installed_size</key>
			<integer>46949</integer>
			<key>version</key>
			<string>8.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{56DCC6F4-322E-42DA-A5DA-26BAD28C1E10}</string>
			<key>display_name</key>
			<string>Camera Profiles Installer</string>
			<key>installed_size</key>
			<integer>346649</integer>
			<key>version</key>
			<string>8.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{C4196275-B11A-40A1-8727-3C145C8F7D95}</string>
			<key>display_name</key>
			<string>AdobeColorCommonSetCMYK</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{C8DEBB29-3EB0-4B97-B652-4DE482B111BC}</string>
			<key>display_name</key>
			<string>AdobeColorCommonSetRGB</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{A0792819-E111-11E3-9699-C37485AD7552}</string>
			<key>display_name</key>
			<string>Adobe Flash Professional CC 2014 Payload LangPack (en_US)</string>
			<key>installed_size</key>
			<integer>4300</integer>
			<key>version</key>
			<string>14.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{E2248BB3-E10D-11E3-B62C-A39FB6E7404F}</string>
			<key>display_name</key>
			<string>Adobe Flash Professional CC 2014</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>14.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{B13A1634-E112-11E3-92F9-F042CBEBF76F}</string>
			<key>display_name</key>
			<string>AIR for APPLE iOS Support (FP)</string>
			<key>installed_size</key>
			<integer>2026</integer>
			<key>version</key>
			<string>3.5</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{2591B843-8028-4395-9DEE-03AF8D631539}</string>
			<key>display_name</key>
			<string>Adobe Player for Embedding 3.3</string>
			<key>installed_size</key>
			<integer>63938</integer>
			<key>version</key>
			<string>3.3</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{E8B1DAAA-0B6B-44E6-A2D3-8E418EA0EA85}</string>
			<key>display_name</key>
			<string>Adobe CMaps CS6</string>
			<key>installed_size</key>
			<integer>6372</integer>
			<key>version</key>
			<string>4.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{EB2A8CD4-B247-4810-A294-E3DB8EDC6060}</string>
			<key>display_name</key>
			<string>Adobe CSXS Extensions CS6</string>
			<key>installed_size</key>
			<integer>1293</integer>
			<key>version</key>
			<string>3</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{36682D68-3834-487E-BA49-DFA4AB0A2E32}</string>
			<key>display_name</key>
			<string>Adobe CSXS Infrastructure CS6</string>
			<key>installed_size</key>
			<integer>5770</integer>
			<key>version</key>
			<string>3</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{83463106-DD1C-4FE5-A61C-DF6715472AD4}</string>
			<key>display_name</key>
			<string>Adobe Extension Manager CS6</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>6.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{39C9FB9C-7A84-11E1-B574-D095DF20721F}</string>
			<key>display_name</key>
			<string>Adobe Fireworks CS6</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>12.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{76A4887E-7A85-11E1-88DE-92A96E70B8CF}</string>
			<key>display_name</key>
			<string>Adobe Fireworks CS6 English (en_US) Language Pack</string>
			<key>installed_size</key>
			<integer>5293</integer>
			<key>version</key>
			<string>12.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{DE7C6FA1-AF75-48A8-B495-CFAD529BCC3D}</string>
			<key>display_name</key>
			<string>Adobe Fonts Recommended</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>2.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{311CDC89-AC18-4344-9EC9-0225328C73D3}</string>
			<key>display_name</key>
			<string>Adobe Fonts Required</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>2.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{557F9FD3-EED8-43D7-AF29-0F19CA832728}</string>
			<key>display_name</key>
			<string>Adobe PDF Library Files CS6</string>
			<key>installed_size</key>
			<integer>69157</integer>
			<key>version</key>
			<string>10.9</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{0256558F-A0FF-4FCF-99C2-96D2EE3201D9}</string>
			<key>display_name</key>
			<string>Suite Shared Configuration CS6</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>3.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{A0F72081-99FB-4FFA-AE1A-62B5A656CAC1}</string>
			<key>display_name</key>
			<string>Adobe Type Support CS6</string>
			<key>installed_size</key>
			<integer>5856</integer>
			<key>version</key>
			<string>11.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{148542D8-49CA-482A-A334-1D54C5A9D53B}</string>
			<key>display_name</key>
			<string>Adobe XMP Panels</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>4.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{6E6ECFC9-FE3D-4314-B937-7E25A7862899}</string>
			<key>display_name</key>
			<string>Adobe Player for Embedding 3.4</string>
			<key>installed_size</key>
			<integer>64008</integer>
			<key>version</key>
			<string>3.4</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{C4196275-B11A-40A1-8727-3C145C8F7D95}</string>
			<key>display_name</key>
			<string>AdobeColorCommonSetCMYK</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{C8DEBB29-3EB0-4B97-B652-4DE482B111BC}</string>
			<key>display_name</key>
			<string>AdobeColorCommonSetRGB</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{F6DED2DA-1D20-497E-8810-E745B45DCD28}</string>
			<key>display_name</key>
			<string>Adobe Color EU Extra Settings CC</string>
			<key>installed_size</key>
			<integer>1976</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{A032EB9D-B6EB-45BF-9F15-83B0755DC9AB}</string>
			<key>display_name</key>
			<string>Adobe Color JA Extra Settings CC</string>
			<key>installed_size</key>
			<integer>2799</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{AB955DCF-69CD-4840-B7FB-F318CDD0AE44}</string>
			<key>display_name</key>
			<string>Adobe Color NA Recommended Settings CC</string>
			<key>installed_size</key>
			<integer>2333</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{C632F2C8-F0CB-41DD-B0EE-FEE5A87F46E0}</string>
			<key>display_name</key>
			<string>DPS Desktop Tools CC2014</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>2.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{CB2632B8-D44B-11E3-88A6-77388C8F654B}</string>
			<key>display_name</key>
			<string>Adobe InDesign CC 2014</string>
			<key>installed_size</key>
			<integer>509744</integer>
			<key>version</key>
			<string>10.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{0BEAB6E0-D201-11E3-A2D8-24318C8F654B}</string>
			<key>display_name</key>
			<string>Adobe ID CC2014 AppBase2</string>
			<key>installed_size</key>
			<integer>318400</integer>
			<key>version</key>
			<string>10.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{02F32E1E-D201-11E3-85E1-D1308C8F654B}</string>
			<key>display_name</key>
			<string>Adobe ID CC2014 AppFSet (Roman)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>10.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{14C17CE6-D200-11E3-9436-64278C8F654B}</string>
			<key>display_name</key>
			<string>Adobe ID CC2014 AppLang (en_US)</string>
			<key>installed_size</key>
			<integer>684</integer>
			<key>version</key>
			<string>10.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{DFD99B46-D207-11E3-95E7-B2648C8F654B}</string>
			<key>display_name</key>
			<string>Adobe ID CC2014 CBase</string>
			<key>installed_size</key>
			<integer>44</integer>
			<key>version</key>
			<string>10.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{B7D2723C-D200-11E3-8196-BA2F8C8F654B}</string>
			<key>display_name</key>
			<string>Adobe ID CC2014 CLang (en_US)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>10.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{6E6ECFC9-FE3D-4314-B937-7E25A7862899}</string>
			<key>display_name</key>
			<string>Adobe Player for Embedding 3.4</string>
			<key>installed_size</key>
			<integer>64008</integer>
			<key>version</key>
			<string>3.4</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{C4196275-B11A-40A1-8727-3C145C8F7D95}</string>
			<key>display_name</key>
			<string>AdobeColorCommonSetCMYK</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{C8DEBB29-3EB0-4B97-B652-4DE482B111BC}</string>
			<key>display_name</key>
			<string>AdobeColorCommonSetRGB</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{F6DED2DA-1D20-497E-8810-E745B45DCD28}</string>
			<key>display_name</key>
			<string>Adobe Color EU Extra Settings CC</string>
			<key>installed_size</key>
			<integer>1976</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{A032EB9D-B6EB-45BF-9F15-83B0755DC9AB}</string>
			<key>display_name</key>
			<string>Adobe Color JA Extra Settings CC</string>
			<key>installed_size</key>
			<integer>2799</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{AB955DCF-69CD-4840-B7FB-F318CDD0AE44}</string>
			<key>display_name</key>
			<string>Adobe Color NA Recommended Settings CC</string>
			<key>installed_size</key>
			<integer>2333</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{1742D874-9E57-4175-97B5-44210CA7F230}</string>
			<key>display_name</key>
			<string>Adobe Illustrator CC 2014</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>18.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{01196F1E-0D32-47D7-A47E-8FC683180B84}</string>
			<key>display_name</key>
			<string>Adobe Illustrator CC 2014 LangPack (en_US)</string>
			<key>installed_size</key>
			<integer>53719</integer>
			<key>version</key>
			<string>18.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{6E6ECFC9-FE3D-4314-B937-7E25A7862899}</string>
			<key>display_name</key>
			<string>Adobe Player for Embedding 3.4</string>
			<key>installed_size</key>
			<integer>64008</integer>
			<key>version</key>
			<string>3.4</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{B42E718A-AAE9-4C7D-8990-2AE4C4FE87DF}</string>
			<key>display_name</key>
			<string>Adobe Bridge CC</string>
			<key>installed_size</key>
			<integer>388154</integer>
			<key>version</key>
			<string>6.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{3E7FC757-D497-4C89-A935-7D38E2164E85}</string>
			<key>display_name</key>
			<string>Photoshop Camera Raw 8</string>
			<key>installed_size</key>
			<integer>46949</integer>
			<key>version</key>
			<string>8.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{56DCC6F4-322E-42DA-A5DA-26BAD28C1E10}</string>
			<key>display_name</key>
			<string>Camera Profiles Installer</string>
			<key>installed_size</key>
			<integer>346649</integer>
			<key>version</key>
			<string>8.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{84545E79-3A2E-4CA4-A85C-482B178815B4}</string>
			<key>display_name</key>
			<string>Adobe Mini Bridge 3</string>
			<key>installed_size</key>
			<integer>3793</integer>
			<key>version</key>
			<string>3</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{D43DABB8-FFA0-458B-B98E-2733A61DF576}</string>
			<key>display_name</key>
			<string>Adobe SwitchBoard 3</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>3</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{6E6ECFC9-FE3D-4314-B937-7E25A7862899}</string>
			<key>display_name</key>
			<string>Adobe Player for Embedding 3.4</string>
			<key>installed_size</key>
			<integer>64008</integer>
			<key>version</key>
			<string>3.4</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{244FD30F-63F1-49B9-9D98-1150FF4FFCB1}</string>
			<key>display_name</key>
			<string>Adobe Extension Manager CC</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>7.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{6E6ECFC9-FE3D-4314-B937-7E25A7862899}</string>
			<key>display_name</key>
			<string>Adobe Player for Embedding 3.4</string>
			<key>installed_size</key>
			<integer>64008</integer>
			<key>version</key>
			<string>3.4</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{135274B3-69EE-4AE8-ACCE-1718A1EBC8CC}</string>
			<key>display_name</key>
			<string>Adobe ExtendScript Toolkit CC</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>4.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{6E6ECFC9-FE3D-4314-B937-7E25A7862899}</string>
			<key>display_name</key>
			<string>Adobe Player for Embedding 3.4</string>
			<key>installed_size</key>
			<integer>64008</integer>
			<key>version</key>
			<string>3.4</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{3E7FC757-D497-4C89-A935-7D38E2164E85}</string>
			<key>display_name</key>
			<string>Photoshop Camera Raw 8</string>
			<key>installed_size</key>
			<integer>46949</integer>
			<key>version</key>
			<string>8.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{56DCC6F4-322E-42DA-A5DA-26BAD28C1E10}</string>
			<key>display_name</key>
			<string>Camera Profiles Installer</string>
			<key>installed_size</key>
			<integer>346649</integer>
			<key>version</key>
			<string>8.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{C4196275-B11A-40A1-8727-3C145C8F7D95}</string>
			<key>display_name</key>
			<string>AdobeColorCommonSetCMYK</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{C8DEBB29-3EB0-4B97-B652-4DE482B111BC}</string>
			<key>display_name</key>
			<string>AdobeColorCommonSetRGB</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{F6DED2DA-1D20-497E-8810-E745B45DCD28}</string>
			<key>display_name</key>
			<string>Adobe Color EU Extra Settings CC</string>
			<key>installed_size</key>
			<integer>1976</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{A032EB9D-B6EB-45BF-9F15-83B0755DC9AB}</string>
			<key>display_name</key>
			<string>Adobe Color JA Extra Settings CC</string>
			<key>installed_size</key>
			<integer>2799</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{AB955DCF-69CD-4840-B7FB-F318CDD0AE44}</string>
			<key>display_name</key>
			<string>Adobe Color NA Recommended Settings CC</string>
			<key>installed_size</key>
			<integer>2333</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{5C5D62C9-91C6-415E-857E-9130C0F52C66}</string>
			<key>display_name</key>
			<string>Adobe Color - Photoshop Specific CC</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{7C25E7A0-A0A1-4B87-BB30-BF0FBDC37878}</string>
			<key>display_name</key>
			<string>Adobe Photoshop CC 2014</string>
			<key>installed_size</key>
			<integer>66</integer>
			<key>version</key>
			<string>15.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{3F12BA0E-72C1-4862-A9E4-D7EC00C066CB}</string>
			<key>display_name</key>
			<string>Adobe Photoshop CC 2014 English Language Pack</string>
			<key>installed_size</key>
			<integer>260</integer>
			<key>version</key>
			<string>15.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{18C53590-8A4E-44FF-B13D-74CB92FD6801}</string>
			<key>display_name</key>
			<string>Adobe Photoshop CC 2014 Support</string>
			<key>installed_size</key>
			<integer>1078</integer>
			<key>version</key>
			<string>15.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{CE9B1B00-0421-4701-9698-1C14646D6D94}</string>
			<key>display_name</key>
			<string>Adobe Color Video Profiles CS CC</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{F539FEAD-E62F-4719-B481-2696A3A1BFB6}</string>
			<key>display_name</key>
			<string>Adobe American English Speech Analysis Models 4.0</string>
			<key>installed_size</key>
			<integer>133742</integer>
			<key>version</key>
			<string>4.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{6E6ECFC9-FE3D-4314-B937-7E25A7862899}</string>
			<key>display_name</key>
			<string>Adobe Player for Embedding 3.4</string>
			<key>installed_size</key>
			<integer>64008</integer>
			<key>version</key>
			<string>3.4</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{0FBCC7E1-F5E8-476A-BAE2-E25A2AEF75F2}</string>
			<key>display_name</key>
			<string>Adobe Fonts Recommended</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>3.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{9A49EAB8-6664-4164-9323-49CA9E9C5E0C}</string>
			<key>display_name</key>
			<string>Adobe Fonts Required</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>3.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{07BE616F-9E42-4C90-AF4F-0F32A5B088E7}</string>
			<key>display_name</key>
			<string>Adobe Premiere Pro CC 2014</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>8.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{007C1806-2DF8-4E28-ADC0-DA19ED537050}</string>
			<key>display_name</key>
			<string>Adobe Premiere Pro CC 2014 LangPack (en_US) </string>
			<key>installed_size</key>
			<integer>65479</integer>
			<key>version</key>
			<string>8.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{F539FEAD-E62F-4719-B481-2696A3A1BFB6}</string>
			<key>display_name</key>
			<string>Adobe American English Speech Analysis Models 4.0</string>
			<key>installed_size</key>
			<integer>133742</integer>
			<key>version</key>
			<string>4.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{6E6ECFC9-FE3D-4314-B937-7E25A7862899}</string>
			<key>display_name</key>
			<string>Adobe Player for Embedding 3.4</string>
			<key>installed_size</key>
			<integer>64008</integer>
			<key>version</key>
			<string>3.4</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{2A054E48-0A75-42BD-8738-EC9AB4E2207A}</string>
			<key>display_name</key>
			<string>Adobe Prelude CC 2014</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>3.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{82FD7DD6-562E-4CD5-A516-3E8A12355893}</string>
			<key>display_name</key>
			<string>Adobe Prelude CC 2014 LangPack (en_US) </string>
			<key>installed_size</key>
			<integer>501</integer>
			<key>version</key>
			<string>3.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{8EFF28F0-9DFD-4208-9E04-4D49A4812CF3}</string>
			<key>display_name</key>
			<string>Adobe SpeedGrade CC 2014</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>8.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{0DBAE0AD-4706-4466-9C0B-0A84EFD0A8DC}</string>
			<key>display_name</key>
			<string>Adobe SpeedGrade CC 2014 LangPack (en_US) </string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>8.0.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>AdobeCS5AAMEEPackage</string>
	<key>uninstallable</key>
	<false/>
	<key>version</key>
	<string>8.0.0</string>
</dict>
</plist>
