<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>jonathan.cohen</string>
		<key>creation_date</key>
		<date>2014-09-19T18:55:07Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.4</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>production</string>
	</array>
	<key>category</key>
		<string>Entertainment</string>
	<key>description</key>
	<string>The iTunes player keeps all your music, and movies all in one place. Instead of going through stacks and stacks of CDs, you can import them into iTunes and quickly browse your whole collection.</string>
	<key>display_name</key>
	<string>iTunes</string>
	<key>installed_size</key>
	<integer>400940</integer>
	<key>installer_item_hash</key>
	<string>70a8369ca794251fb22fd976eb8019001f8178d3e1d5044c22a665cca81b3fd8</string>
	<key>installer_item_location</key>
	<string>apps/apple/iTunes/iTunes11.4-11.4.0.0.1.1188253749.dmg</string>
	<key>installer_item_size</key>
	<integer>237246</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>iTunes</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>2657</integer>
			<key>packageid</key>
			<string>com.apple.pkg.CoreADI</string>
			<key>version</key>
			<string>2.9.2.0.1.1188253749</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>32207</integer>
			<key>packageid</key>
			<string>com.apple.pkg.CoreFP</string>
			<key>version</key>
			<string>2.6.16.0.1.1188253749</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1683</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iTunesAccess</string>
			<key>version</key>
			<string>11.4.0.0.1.1188253749</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>331613</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iTunesX</string>
			<key>version</key>
			<string>11.4.0.0.1.1188253749</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>32780</integer>
			<key>packageid</key>
			<string>com.apple.pkg.MobileDevice</string>
			<key>version</key>
			<string>4.0.0.0.1.1217269835</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>11.4.0.0.1.1188253749</string>
</dict>
</plist>
