<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>jonathan.cohen</string>
		<key>creation_date</key>
		<date>2014-11-10T19:09:57Z</date>
		<key>munki_version</key>
		<string>2.0.1.2253</string>
		<key>os_version</key>
		<string>10.9.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>autopkg</string>
	</array>
	<key>category</key>
	<string>AutoPkg Development</string>
	<key>description</key>
	<string>Microsoft Silverlight is a free web-browser plug-in that enables interactive media experiences, rich business applications and immersive mobile apps.</string>
	<key>display_name</key>
	<string>Microsoft Silverlight</string>
	<key>installed_size</key>
	<integer>99420</integer>
	<key>installer_item_hash</key>
	<string>469a7b19cf4a87a1248caa850c7de61c88e67c0c5511fe77032817cd79df9dea</string>
	<key>installer_item_location</key>
	<string>apps/microsoft/utilities/Silverlight-5.1.30514.0.dmg</string>
	<key>installer_item_size</key>
	<integer>14888</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Silverlight</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>Silverlight.pkg</string>
			<key>installed_size</key>
			<integer>99420</integer>
			<key>packageid</key>
			<string>com.microsoft.SilverlightInstaller</string>
			<key>version</key>
			<string>5.1.30514.0</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>5.1.30514.0</string>
</dict>
</plist>
