<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>jonathan.cohen</string>
		<key>creation_date</key>
		<date>2014-08-21T02:57:57Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.4</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>Kurzweil 3000 v5 has built-in tools for reading, writing, study skills and test taking hosted through a cloud-based centralized library allowing for easy access and distribution of curricula, while reporting delivers helpful insight into student usage.</string>
	<key>display_name</key>
	<string>Kurzweil 3000 Web Client</string>
	<key>installer_item_hash</key>
	<string>cba74a50e9b4e5852e01a73cd2fa407c2083adf9501c53868b666d0ca671a66c</string>
	<key>installer_item_location</key>
	<string>apps/assistivetech/K3000_5.0.26.web-5.0.26, build 8.dmg</string>
	<key>installer_item_size</key>
	<integer>295550</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.kurzweiledu.3000</string>
			<key>CFBundleShortVersionString</key>
			<string>5.0.26, build 8</string>
			<key>CFBundleVersion</key>
			<string>5.0.26</string>
			<key>path</key>
			<string>/Applications/Kurzweil 3000.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Kurzweil 3000.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Kurzweil3000_Web</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>5.0.26</string>
</dict>
</plist>
