<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>jonathan.cohen</string>
		<key>creation_date</key>
		<date>2014-11-10T19:05:24Z</date>
		<key>munki_version</key>
		<string>2.0.1.2253</string>
		<key>os_version</key>
		<string>10.9.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>autopkg</string>
	</array>
	<key>category</key>
	<string>AutoPkg Development</string>
	<key>description</key>
	<string>Facter is an independent, cross-platform Ruby library designed to gather information on all the nodes you will managing with Puppet.</string>
	<key>display_name</key>
	<string>Facter</string>
	<key>installed_size</key>
	<integer>387</integer>
	<key>installer_item_hash</key>
	<string>35c88c2af26e2c59364604788cd5ff4a1b3d8171e2690e65e38156278e32d6d1</string>
	<key>installer_item_location</key>
	<string>apps/IT/puppet/Facter/Facter-2.3.0.dmg</string>
	<key>installer_item_size</key>
	<integer>112</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>Facter</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>387</integer>
			<key>packageid</key>
			<string>com.puppetlabs.facter</string>
			<key>version</key>
			<string>2.3.0</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.3.0</string>
</dict>
</plist>
