<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestartAction</key>
	<string>RequireRestart</string>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>jonathan.cohen</string>
		<key>creation_date</key>
		<date>2014-08-27T20:45:03Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.4</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>beta</string>
		<string>testing</string>
		<string>production</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Blackmagic Camera Utility</string>
	<key>installed_size</key>
	<integer>278304</integer>
	<key>installer_item_hash</key>
	<string>78ffb114144719b11e117c1053b4dd059cec95d0732e0b6764acc650f5bc1ef2</string>
	<key>installer_item_location</key>
	<string>apps/user_utilities/Blackmagic Camera Utility Installer 1.7.pkg</string>
	<key>installer_item_size</key>
	<integer>115713</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>Blackmagic Camera Utility Installer</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>60140</integer>
			<key>packageid</key>
			<string>com.blackmagic-design.CinemaCamera</string>
			<key>version</key>
			<string>1.7</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>126268</integer>
			<key>packageid</key>
			<string>com.blackmagic-design.DesktopVideo</string>
			<key>version</key>
			<string>10.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>41173</integer>
			<key>packageid</key>
			<string>com.blackmagic-design.DiskSpeedTest</string>
			<key>version</key>
			<string>2.2.1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>41977</integer>
			<key>packageid</key>
			<string>com.blackmagic-design.MediaExpress</string>
			<key>version</key>
			<string>3.3</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>8746</integer>
			<key>packageid</key>
			<string>com.blackmagic-design.UltraScope</string>
			<key>version</key>
			<string>1.6.5</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.7</string>
</dict>
</plist>
