<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>jonathan.cohen</string>
		<key>creation_date</key>
		<date>2014-08-01T14:03:47Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.4</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>production</string>
	</array>
	<key>description</key>
	<string>Logger Pro is award-winning, data-collection and analysis software for Mac Computers and used with Vernier hardware systems.</string>
	<key>display_name</key>
	<string>Logger Pro 3.8.7</string>
	<key>installed_size</key>
	<integer>214893</integer>
	<key>installer_item_hash</key>
	<string>7cc18bcff1027c773d47be52636294a2185aad7a7e81ee11681c5f902b2eefc0</string>
	<key>installer_item_location</key>
	<string>apps/user_utilities/Install Logger Pro 3-3.8.7.pkg</string>
	<key>installer_item_size</key>
	<integer>148514</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>Install Logger Pro</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>31248</integer>
			<key>packageid</key>
			<string>com.vernier.installer.lpapp</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>123453</integer>
			<key>packageid</key>
			<string>com.vernier.installer.experiments</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>58680</integer>
			<key>packageid</key>
			<string>com.vernier.installer.experiments_movies</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1512</integer>
			<key>packageid</key>
			<string>com.vernier.installer.webroot.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.8.7</string>
</dict>
</plist>
